.sign{
    width: 100vw;
    height: 100vh;
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    justify-content: center;
}

.signWrapper{
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    color:  gainsboro;
    /* border: 1px solid red; */
}

.signLeft{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signRight{
    width: 380px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signLogo{
    font-size: 50px;
    font-weight: 800;
    color: rgb(28, 212, 150);
    margin-bottom: 10px;
}

.signDesc{
    font-size: 24px;
}

.signBox{
    height: 450px;
    padding: 20px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signInput{
    height: 50px;
    border: 2px solid rgb(53, 53, 53);
    background-color: gainsboro;
    font-size: 18px;
    padding-left: 20px;
}

.signInput:focus{
    outline: none;
}
.signInput::placeholder{
    color: rgb(53, 53, 53)
}

.signButton{
    height: 50px;
    border: none;
    background-color: rgb(28, 212, 151);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.signRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border: none;
    background-color: rgb(53, 53, 53);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}