.sign{
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.signLeft,.signRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.signDesc{
    font-size: 24px;
}

.signBox{
    height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.signInput:focus{
    outline: none;
}

.signButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.signForgot{
    text-align: center;
    color: #1775ee;
}

.signRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}