.login{
    width: 100vw;
    height: 100vh;
    background-color: rgb(53, 53, 53);
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    /* border:  1px solid red; */
}

.loginLeft{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gainsboro;
}
.loginRight{
        width: 380px;
        height: 450px;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: rgb(28, 212, 150);
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height: 400px;
    padding: 20px;
    background-color: gainsboro;
    color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loginInput{
    height: 50px;
    border: 2px solid rgb(53, 53, 53);
    background-color: gainsboro;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginInput::placeholder{
    color: rgb(53, 53, 53);
}

.loginButton{
    height: 50px;
    border: none;
    background-color: rgb(28, 212, 150);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.loginButton:focus{
    outline: none;
}

.loginButton:disabled{
cursor: not-allowed;
}
.loginForgot{
    text-align: center;
    color: rgb(53, 53, 53);
    font-weight: 600;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border: none;
    background-color: rgb(53, 53, 53);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}